- provide :title do
  Проживание и питание

.col-xs-12.col-sm-12.col-md-12.col-lg-11
  %ul.nav.nav-pills
    %li
      = link_to placement_path do
        Порядок приема 
        %br
        и размещения
        %span.glyphicon.glyphicon-arrow-down
    %li.active
      = link_to accommodation_path do
        Условия проживания
        %br 
        и питания
        %span.glyphicon.glyphicon-arrow-down
    %li
      = link_to medservice_path do
        Медицинское обслуживание
        %br
        и реабилитация
        %span.glyphicon.glyphicon-arrow-down

  %h1.page-header.text-center.well Условия проживания и питания
  = image_tag ('1.jpg'), :class=>'img-rounded pull-left mar-r'
  %p
  %br
    Основной жилой фонд располагается в каскадном корпусе № 1 и корпусе № 2 (отделение «Милосердия») на 250 мест.
    Во всех корпусах встроены просторные веранды, утепленные современными стеклопакетами для прогулок во время дождя.
  %p
  %br
    Переходы, холлы в корпусах и вокруг киноконцертного зала застеклены новыми витринными окнами, которые позволяют проживающимлюбоваться окружающей природой, красотой парка, прогулочных скверов, не выходя на улицу.
  %br 
  %br
  = image_tag ('2.jpg'), :class=>'img-rounded pull-right mar-l'
  %br
  %p
    %strong Стандартная одноместная палата: 
    площадь 12-16 м2 с прихожей, санузлом, лоджией. Палаты укомплектованы современной мебелью и необходимой бытовой техникой. Все окна выходят на солнечную сторону, где открывается замечательный вид на старинный парк.
  %br  
  %p
    %strong Двухместная палата 
    рассчитана на проживание семейной пары. Состоит из двух комнат, раздельного санузла, бытовой комнаты, прихожей и большой лоджии.
  %br
  = image_tag ('3.jpg'), :class=>'img-rounded pull-left mar-r'
  %br  
  %p
  %br
    %strong Палата "Люкс" - 
    двухместная палата, площадь - 24 м2 в виде меблированного 
    гостиничного номера с телевизором, холодильником, санузлом на 
    уровне евростандартов.  
  %br
  %p
    Все палаты оборудованы системой вызова дежурного медперсонала.
    В отделении милосердия жилые комнаты и коридоры оснащены реабилитационными приспособлениями.
  %br
  %br
  = image_tag ('4.jpg'), :class=>'img-rounded pull-right mar-l'
  %br
  %p
    %strong Система питания: 
    4-х разовая, состоит из 4-х меню по выбору. В столовой осуществляется постоянный контроль качества продуктов и готовых блюд. Работает система доставки питания в палаты.
  %p
    %strong Отделение "Милосердие", 
    расположенное в 3-м корпусе, полностью обслуживается системой доставки.

  %p
    Все корпуса и клуб-столовая связаны между собой закрытыми переходами.

  %br
  = image_tag ('5.jpg'), :class=>'img-rounded pull-left mar-r'
  %br
  %p
    В Центре функционирует 
    %strong читальный зал библиотеки, 
    представляющий широкий выбор периодических изданий, бильярд, киноконцертный зал на 300 мест, где проходят культурно-массовые мероприятия.
  %br
  %p
    Центр располагает собственной 
    %strong транспортной службой
    для доставки проживающих в лечебные учреждения и в культурные заведения. Регулярно выделяются билеты в театры и концерты.
  %br  
  %br
  %p.lead.text-center
    %em 
      Наш Центр – уютный уголок, где к каждому проживающему найден индивидуальный подход. 
      %br 
      = image_tag ('6.jpg'), :class=>'img-rounded pull-right mar-l'
      Доброжелательные сотрудники, кроме прекрасного владения специальными знаниями, отличаются корректностью и уважительным отношением к каждому подопечному. Они легко находят общий язык с престарелыми и немощными людьми, проживающими у нас, а это в свою очередь значительно повышает эффективность лечения и ухода за ними.
     