- provide :title do
  Медицинское обслуживание

.col-xs-12.col-sm-12.col-md-9.col-lg-10

  %h1.page-header.text-center.well Медицинское обслуживание и реабилитационные возможности

  %p
    Тут Текст

.col-md-3.col-lg-2.hidden-xs.hidden-sm
  %ul.nav.nav-pills.nav-stacked#nav
    %li
      = link_to placement_path do
        Порядок приема 
        %br
        и размещения
        %br
        %span.glyphicon.glyphicon-arrow-left
    %li
      = link_to accommodation_path do
        Условия проживания
        %br 
        и питания
        %br
        %span.glyphicon.glyphicon-arrow-left
    %li.active
      = link_to medservice_path do
        Медицинское обслуживание
        %br
        и реабилитация
        %br
        %span.glyphicon.glyphicon-arrow-left
.col-xs-12.col-sm-12.hidden-md.hidden-lg
  %ul.nav.nav-pills
    %li
      = link_to accommodation_path do
        %span.glyphicon.glyphicon-arrow-left
        Назад
    %li.pull-right
      = link_to root_path do
        %span.glyphicon.glyphicon-home
        Домой