- provide :title do
  Прием и размещение


.col-xs-12.col-sm-12.col-md-9.col-lg-10
  %h1.page-header.text-center.well Порядок приема и размещения

  %p 
    Пользоваться услугами ФГБУ «Всероссийский научно-методический геронтологический центр»  могут социально необеспеченные, одинокие граждане пожилого возраста, ветераны войны и труда, инвалиды, частично или полностью утратившие способность к самообслуживанию и нуждающиеся по состоянию здоровья в постоянном уходе и наблюдении.
  %p
    %strong Ограничения по возрасту:
    мужчины с 60 лет, женщины с 55 лет;
  %p
    %strong Ограничения по состоянию здоровья:
    отсутствие медицинских противопоказаний к обслуживанию в социальных учреждениях, таких как активные формы туберкулеза, хронический алкоголизм, карантинные инфекционные заболевания, тяжелые психические расстройства, венерические и другие заболевания, онкозаболевания в терминальных стадиях.
  %p  
    Документы подаются в Министерство труда и социальной защиты Российской Федерации по адресу: г. Москва, ул. Ильинка, дом 21
    Список документов, необходимых для оформления в  ФГБУ «Всероссийский научно-методический геронтологический центр»:
    %ol
 
      %li
        %strong Заявление 
        на имя директора Департамента организации социальной защиты населения Министерства труда и социальной защиты России - Самариной О. В. (телефон (495) 606-16-08, факс (495) 606-16-06), в котором необходимо перечислить сведения:
        %ul
          %li заслуги, награды войны или труда (указать номер удостоверения);
          %li трудовая деятельность;
          %li занимаемая жилая площадь, кто прописан на данной жилой площади;
          %li с какого года на пенсии;
          %li адрес членов семьи;
          %li на какой период поместить в Центр;
          %li ксерокопия паспорта и других представленных документов;
          %li домашний телефон.
      %li 
        %strong Медицинская карта 
        (оформленная согласно образцу). Карта должна быть заверена подписью и печатью лечебного учреждения.
      %li 
        %strong Справка 
        из туберкулезного диспансера 
        о том, что не состоит на учете с указанием последнего срока флюорографического исследования или исследования мокроты на ВК.
      %li 
        %strong Заключение 
        ВКК психоневрологического учреждения 
        (диспансера или больницы) с развернутым диагнозом и указанием рекомендуемого типа интерната (обращаем Ваше внимание, что заключение должно быть полным с развернутым диагнозом, на отдельном бланке, заверено печатью диспансера (больницы) и тремя подписями).
      %li 
        %strong Анализы 
        крови на ВИЧ-инфекцию, RW, маркеры гепатитов В  и С (действительны в течение 6 месяцев).
      %li 
        %strong Мазок 
        из зева на дифтерию и анализы на кишечную группу (действительны в течение 10 дней).
      %li 
        %strong Анализы 
        на гельминтозы (действительны в течение 10 дней).
      %li 
        %strong Полис 
        медицинского страхования.
      %li 
        %strong Полис 
        пенсионного страхования.
      %li 
        %strong Справка, 
        свидетельство, удостоверение или иной документ установленного образца о праве на льготы в соответствии с действующим законодательством.
      %li
        %strong Трудовая книжка 
        и ее ксерокопия.
      %li
        %strong Справка, 
        выданная органом, осуществляющим пенсионное обеспечение, о размере пенсии.
      %li 
        %strong Справка, 
        выданная Пенсионным фондом о льготах на лекарства и транспорт.
      %li 
        %strong Граждане пожилого возраста и инвалиды, 
        проживающие в семьях или имеющие родственников, обязанных в соответствии с действующим законодательством их содержать, представляют также:
        %ul
          %li справку органов местного самоуправления или жилищно-эксплутационных предприятий о составе семьи с указанием даты рождения каждого члена и родственных отношений;
          %li справку от каждого члена семьи (родственника) с места работы (учебы, службы) о размерах заработной платы и других доходов.
  %p.lead
    При не предоставлении одного из вышеперечисленных документов, кандидатура пенсионера на предоставление путевки в  ФГБУ «Всероссийский научно-методический геронтологический центр», рассматриваться не будет. Прием граждан на постоянное или временное проживание в ФГБУ «Всероссийский научно-методический геронтологический центр»  проводится по решению социально-медицинской комиссии Центра. День поступления в Геронтологический центр: вторник с 9.00 до 13.00 часов.
    %hr

.col-md-3.col-lg-2.hidden-xs.hidden-sm
  %ul.nav.nav-pills.nav-stacked#nav
    %li.active
      = link_to placement_path do
        Порядок приема 
        %br
        и размещения
        %br
        %span.glyphicon.glyphicon-arrow-left
    %li
      = link_to accommodation_path do
        Условия проживания
        %br 
        и питания
        %br
        %span.glyphicon.glyphicon-arrow-left
    %li
      = link_to medservice_path do
        Медицинское обслуживание
        %br
        и реабилитация
        %br
        %span.glyphicon.glyphicon-arrow-left

.col-xs-12.col-sm-12.hidden-md.hidden-lg
  %ul.nav.nav-pills
    %li
      = link_to root_path do
        %span.glyphicon.glyphicon-home
        Домой
    %li.pull-right
      = link_to accommodation_path do
        Далее
        %span.glyphicon.glyphicon-arrow-right