- content_for :title do 
  Редактирование новости
= bootstrap_form_for @post, url: post_path(@post), method: :patch do |f|
  - if @post.errors.any?
    #error_explanation
      %h3
        Поля "Название новости" и "Текст новости" обязательны для заполения!
  = f.text_field :title, label: "Изменить название новости"
  = f.text_field :date, label: "Изменить дату создания новости или события", help: "Опционально"
  = f.text_area :content, label: "Изменить текст новости", :rows=>'30'
  = f.submit "Сохранить изменения", :class=>"btn btn-success"  

  = link_to 'Вернуться назад', :back, :data => { :confirm => "Вернуться назад, не сохраняя изменений?" }, :class=>'btn btn-warning pull-right'