- content_for :title do
  Новости

%h1.page-header.text-center.well Новости

%ul.list-group
  - @posts.each do |post|
    %li.list-group-item
      %h2= link_to post.title, post_path(post)
      %h4= post.date
      %p= first_50(post.content).html_safe 
      - if user_signed_in?
        = render 'posts/ui_buttons', :post => post

        
      = link_to 'Читать »', post_path(post), :class=>'btn btn-default'
= will_paginate