- content_for :title do
  = @post.title
.well
  %h3
    = @post.title
    %br
    %small= @post.date
.post_area
  - if user_signed_in?

    = render 'posts/ui_buttons', :post => @post
      

    %p= @post.content.html_safe


    = render 'posts/ui_buttons', :post => @post
  - else

    %p= @post.content.html_safe
  
.row
%hr  
  %h5= link_to 'Другие новости', posts_path
  %ul.inline-block
    - @posts.each do |post|
      %li.post_small.list-group-item
        %h4
          = link_to post.title, post_path(post)
          %br
          %small= post.date
        %p= strip_tags(first_10(post.content)).html_safe
        %p= link_to 'Читать »', post_path(post), :class=>'btn btn-xs btn-default'
        
