%nav#nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    =link_to 'Главная', root_path, :class=>'navbar-brand'
  / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      %li= link_to 'О центре', about_path
      %li= link_to 'Наши новости ', posts_path
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Подробная информация
          %b.caret
        %ul.dropdown-menu 
          %li= link_to 'Порядок приема и размещения', placement_path
          %li= link_to 'Условия проживания и питания', accommodation_path
          %li= link_to 'Медицинское обслуживание и возможности', medservice_path
    %ul.nav.navbar-nav.navbar-right
      %li= link_to 'Вакансии', vacancies_path
      %li= link_to 'Наши партнеры', partners_path
      %li= link_to 'Контакты и схема проезда', contacts_path 
      -if user_signed_in?
        = link_to 'Добавить новость', new_post_path, :class=>'btn btn-md btn-success'   
-#      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          Dropdown
          %b.caret
        %ul.dropdown-menu
          %li
            %a{href: "#"} Action
          %li
            %a{href: "#"} Another action
          %li
            %a{href: "#"} Something else here
          %li
            %a{href: "#"} Separated link 
  / /.navbar-collapse