%nav#sidebar-wrapper{role: "navigation"}
  %ul#sidebar_menu.sidebar-nav
    %li.sidebar-brand
      %a#menu-toggle{href: "#"}
        .menu-item
          Меню
          %span#main-icon.glyphicon.glyphicon-align-justify
  %ul#sidebar.sidebar-nav
    %li.home
      = link_to root_path do
        .menu-item 
          На главную
          %span.sub-icon.glyphicon.glyphicon-home.hidden-lg.hidden-md
    %li
      = link_to about_path do
        .menu-item 
          О центре
          %span.sub-icon.glyphicon.glyphicon-flag.hidden-lg.hidden-md
    %li
      = link_to posts_path do
        .menu-item 
          Новости
          %span.sub-icon.glyphicon.glyphicon-comment.hidden-lg.hidden-md
    %li
      = link_to information_path do
        .menu-item 
          Информация
          %span.sub-icon.glyphicon.glyphicon-exclamation-sign.hidden-lg.hidden-md
    %li
      = link_to vacancies_path do
        .menu-item 
          Вакансии
          %span.sub-icon.glyphicon.glyphicon-paperclip.hidden-lg.hidden-md
    %li
      = link_to partners_path do
        .menu-item 
          Партнеры
          %span.sub-icon.glyphicon.glyphicon-link.hidden-lg.hidden-md
      = link_to contacts_path do
        .menu-item 
          Контакты
          %span.sub-icon.glyphicon.glyphicon-map-marker.hidden-lg.hidden-md
    -if user_signed_in?
      %li.admin
        = link_to new_post_path do
          .menu-item 
            Новость
            %span.sub-icon.glyphicon.glyphicon-cog.hidden-lg.hidden-md        
      %li.admin
        =link_to destroy_user_session_path, :method => :delete do
          .menu-item 
            Выход
            %span.sub-icon.glyphicon.glyphicon-log-out.hidden-lg.hidden-md