- if user_signed_in?
  %p
    #{current_user.email}
  =link_to 'Выход', destroy_user_session_path, :method => :delete
- else
  %a.btn.btn-default.btn-xs{"data-toggle" => "modal", href: "#myModal"} Вход
  #myModal.modal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4.modal-title LITTLE BAMBI BAMBI BAMBI!!111
        .modal-body
          = form_tag user_session_path do
            = text_field_tag 'user[email]'
            = password_field_tag 'user[password]'
            = check_box_tag 'user[remember_me]'
            = label_tag 'user[remember_me]', 'Remember me'
            %button Sign in
            = link_to "Forgot your password?", new_password_path('user')
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          %button.btn.btn-primary{type: "button"} Save changes