- if user_signed_in?
  .pull-right
    #{current_user.email}
    =link_to 'Выход', destroy_user_session_path, :method => :delete
- else
  %a.pull-right{"data-toggle" => "modal", href: "#myModal"} Вход
  #myModal.modal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4.modal-title LITTLE BAMBI BAMBI BAMBI!!111
        .modal-body
          = bootstrap_form_for("user", :url => user_session_path) do |f|
            = f.email_field  :email, label: "Почтовый адрес"
            = f.password_field  :password, label: "Пароль"
            = f.check_box  :remember_me, label: "Запомнить меня"
            .modal-footer
            = f.submit 'Войти'
            = link_to "Забыли пароль?", new_password_path('user'), :class=>"pull-right"
        -#.modal-footer
        -#  %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
          
